*{
    padding: 0;
    margin: 0;
}


.logo img{
    width: 30px;
    margin-left: 3px;

}

.logo a{
    position: relative;
    text-decoration: none;
}

.logo{
    width: 100%;
    height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #045c54;
  border: 1px solid #cedcb1;
}

#bloc{
    display: flex;
}

.sidebar{
    width: 8%;
    height: 100vh;
    background-color: #0F2030;
    
}

.header {
    width: 100%;
    height: 6vh;
    background-color:#045c54;
   
}



.main{
    background-color: aliceblue;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
}

.nav-links img{
    width: 30px;
}
