*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 1440px;
    height: 100vh;
}

.container{
    /* position: fixed; */
    width:690px;
    height: 360px;
    border: 1px solid #288347;
    align-items: center;
    display: flex;
    margin: 10px auto;
    margin-top: 10%;
}

.contact{
    width: 90%;
    margin-top: 10%;
    max-width: 1OOvh;
    display: flex;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    /* display: none; */
}


.contact h3{
    align-items: center;
    position: absolute;
    top: 8%;
}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    padding-bottom: 30px;
    position: relative;
}

input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid  #288347;
    background: transparent;
    font-size: 15px;
    
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
}
button{
    padding: 10px 0;
    outline: none;
    background:  #60c581;;
    border: 1px solid  #288347;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background-color: #218241;
    color: #fff;
}
 
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
 top: -35px;
 font-size: 14px;
}

.row-fm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-fm .input-group{
    flex-basis: 48%;
   
}