body{
    padding: 0;
    margin: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
    
}

.body-cont{
    width: 100%;
    height:500px;
    background: #196956;
}

.page-cont{
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.formulaire {
    width: 876px;
    height: 538px;
    margin: 0 auto;
    margin-top: 130px;
    background: #fff;
    justify-content: center;
    border: 1px solid #196956;;
    border-radius: 10px;
    box-shadow: 10px;
}

.form-connect {
    width: 100px;
    height: 100px;
    margin: 18rem;
    /* padding-top: 12%; */
   
    justify-content: center;
}

.form-connect input{
    width: 500px;
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    
}

.btn-form input{
    width: 300px;
    height: 50px;
    margin: 60%;
    margin-right: 10px;
    border-radius: 100px;
}

.btn-back i {
    font-size: 40px;
    margin-right: 50px;
}
