body{
    margin: 0 auto;
    padding: 0;
    width: 1440px;
}

.container{
    display: flex;
}
.menu{
    width: 3%;
    height: 200vh;
    background-color:#0F2030;

}
.cont-logo{
    background-color:#196956;
    width: 300px;
    height: 50px;
}

.cont-logo .text-logo{
    padding: 10px;
}


.cont-logo .text-logo .logoImg{
   display: inline-block;
   align-items: center;
}

.text-logo a{
    color: #fff;
    text-decoration: none;
    margin-top: -8px;
    font-size: 20px;
    margin-left: 38px;

}
.logo-I{
    color: #FD9A06;
}

.logo-C{
    color: #1DC337;
}

.logoImg{
    width: 26px;
    height: 20px;
    border: 1px solid #FD9A06;
    border-radius: 100%;
    padding: 3px;
    margin-top: -32px;
    margin-left: 8px;
}
    
.logoImg img{
    width: 26px;
    height: 20px;
}

/*partie header navbar*/

.cont-header{
    width: 100%;
    height: 200vh;
    position: relative;
    background-color: #FDF8F8;
    
}
header{
    width: 100%;
    height: 50px;
    background-color: #2C806B;
}

 .header-menu .icon-menu img {
    min-width: 30px;
    padding: 10px;

}

/* .cont-header.navbar{
    padding: 0 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.elms-admin{
    float: right;
    min-width: 30px;
    padding: 10px;
    margin-top: -61px;
}
.elms-admin img{
    padding: 10px;
    margin-left: -129px;
}
.elms-admin li{
    list-style: none;
}

.elms-admin a{
    text-decoration: none;
}

.elms-admin .name-admin{
    margin-top: 15px;
    position: absolute;  
}
/* partie info-profil */

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 300px;
}
.sub-menu{
    background:rgb(19, 112, 218);
    padding: 20px;
    margin: 10px;
}
.info-prof .btnUp{
    display: flex;
    align-items: center;
}

.all-link ul{
    padding: 7px;
}

.all-link ul li a {
    width: 100%;
    height: 100%;
    color: #fff;
   min-width: 60px;
   display: flex;
   align-items: center;
   text-decoration: none;
   transition: all 0.4s ease;
}
.all-link ul li :hover{
    background: #196956;
}

.all-link ul li {
    list-style: none;
    padding-top: 30px;
}
.all-link  img{
    margin-right: 10px;
}
/* footer2 */
.footerGig{
    margin-top: 20px;
  }

.foot-icons-1{
    position: relative;
    width: 1440px;
    height: 200px;
    background: #196956;
    margin: 0 auto;
    align-items: center;
    transition: 0.s;
    color: #fff;
  
  }
  
  .foot-icons-1 ul{
    list-style: none;
    display: flex;
    text-align: center;
  
  }
  
  .foot-icons-1 li a{
    text-decoration: none;
    display: inline-flex;
  }
  
  .foot-icons-2{
    width: 1440px;
    height: 53px;
    background: #171717;
    align-items: center;
  }
  
  .foot-icons-2 p{
    color: #fff;
    margin-right: 2px;
    margin:0 auto;
    
    
  }
  
  .foot-icons-2 ul{
    list-style: none;
   margin-right: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    padding-inline: 656px;
    justify-content: space-around;
  
  }
  
  .foot-icons-2 .footer-icon{
    color: #fff;
    /* display: flex; */
    margin: 0 auto;
    align-items: center;
  }
  
  
  
  .iconfi{
    background: url('https://api.iconify.design/mdi-light/email.svg');
    background-size: 100%;
  }

  /* main */
  .card_s{
    width: 390px;
    height: 147px;
    margin: 10px;
    background: #fd9a068a;
    border: 1px solid #F3970C;
    color: #fff;
  }

  .number {
    margin-left: 30px;
    margin-top: 10px;
  }

  .card-content{
    margin: 0 auto;
   
  }
  .card-name{
    margin-left: 70px;
    margin-top: 30px;
  }
  
  .retails{
    width: 390px;
    height: 33px;
    background: #FD9A06;
    border: 1px solid #FD9A06;
    margin-top: 37px;
  }

  .retail{
    margin-top: 8px;
    text-align: center;
  }
  .cards{
    align-items: center;
    display: flex;
    padding: 10px 10px;
    flex-wrap: wrap;
  }
  /* categorie card2 */

  .card_s2{
    width: 390px;
    height: 147px;
    margin: 10px;
    background: #0C661B;
    border: 1px solid #288347;
    color: #fff;
  }

  .number2 {
    margin-left: 30px;
    margin-top: 10px;
  }

  .card-content{
    margin: 0 auto;
   
  }
  .card-name2{
    margin-left: 70px;
    margin-top: 30px;
  }
  
  .retails2{
    width: 390px;
    height: 33px;
    background: #1DC337;
    border: 1px solid #288347;
    margin-top: 37px;
  }

  .retail2{
    margin-top: 8px;
    text-align: center;
  }
  .cards2{
    display: flex;
    padding: 2px;
  }
/* categorie cart"3 */

  .card_s3{
    width: 390px;
    height: 147px;
    margin: 10px;
    background: #c33c1d6b;
    border: 1px solid #C33B1D;
    color: #fff;
  }

  .number3 {
    margin-left: 30px;
    margin-top: 10px;
  }

  .card-content{
    margin: 0 auto;
   
  }
  .card-name3{
    margin-left: 70px;
    margin-top: 30px;
  }
  
  .retails3{
    width: 390px;
    height: 33px;
    background: #C33B1D;
    border: 1px solid #F3280C;
    margin-top: 37px;
  }

  .retail3{
    margin-top: 8px;
    text-align: center;
  }
  .cards3{
    display: flex;
    padding: 2px;
  }