body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
}

/* .grid-container{
  height: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "sidebar header header header"
   "sidebar main main main";
 height: 100vh;
} */
.header{
 width: 100%;
 height: 9vh;
 background-color: #2C806B;
}

.sidebar{
    height: 90%;
    width: 20%;
    background-color: #0F2030;
   
}

.main-contatainer{
    background-color: #FDF8F8;
}